<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grid layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="testimonials">
    <div class="card card--bg-purpel">
<div class=" card- header">
<img src="./image/profile.jpeg" alt="">
<h3>SONAM KUMRI</h3>
<P>Verified graducate</P>
</div>
<p class="lead">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt aspernatur ipsa distinctio dolorum quas eum 
 perspiciatis ex. Error voluptatibus amet,
</p>
<p class="quote">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur neque odio illo, cumque impedit odit ut totam optio placeat libero!
</p>
    </div>
  </div> 
  <div class="card card--bg-black">
<div class="card header">
  <img src="./image/photomen.avif" alt="">
  <h1>sonu singh</h1>
  <p>Engineer</p>
</div>

<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, aliquid?</p>
<p class="quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, natus.</p>
  </div>
<div class="card card-bg--blue">
  <div class="card header 1">
    <img src="./image/girl.avif" alt="">
    <h2>jyoti kumari</h2>
    <p>Developer</p>
</div>
<p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, nisi.</p>
<p class="quote">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, pariatur.</p>
</div>
<div class="card card--bg-purpel">
  <div class="card header">
    <img src="./image/istockphoto.jpg" alt="">
    <h1>monu singh</h1>
    <p>Saftey manager</p>
  </div>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, laboriosam.</p>
<p class="quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, quasi.</p>
</div>
<div class="card card-bg--blue">
  <div class="card header">
    <img src="./image/photomen.avif" alt="">
    <h2>alok kumar</h2>
<p>mechanical engineering</p>
 </div>
 <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore a ab nesciunt incidunt. Voluptatibus, porro!</p>
 <p class="quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptate consequuntur consequatur in?</p>
</div>
</body>
</html>